{% extends "base.html" %}

{% load guardian_tags %}

{% block content %}

<h1 class="text-center">{{ car.licensePlate }}: {{ car.name }}</h1> <!-- TODO: __str__ -->
<table class="table  table-striped vw-100">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">KM</th>
			<th scope="col">Date</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for record in records %}
		<tr>
			<td><a href="{% url 'kmrecord:Record' record.id %}">{{ record.id }}</a></td>
		{% get_obj_perms request.user for record as 'recordPerms' %}
		{% if 'change_record' in recordPerms %}
			<form method="post" action="{% url 'kmrecord:Change Record' record.id %}">
			{% csrf_token %}
				<td><input type="number" name="km" step="1.0" max="9999999.9" min="0.0" value="{{ record.km }}" style="height:1.5em;width:7em;" required></td>
				<td><input type="date" name="date" min="1800-01-01" max="9999-12-31" value="{{ record.date|date:'Y-m-d' }}" style="height:1.5em;width:8em;" required></td>
				<td><div class="btn-group" role="group"><button type="submit" class="btn btn-sm btn-primary">✓</button>
			</form>
		{% else %}
			<td>{{ record.km }}</td>
			<td>{{ record.date|date:'d/m/Y' }}</td>
			<td><div class="btn-group" role="group">
		{% endif %}
		{% if 'delete_record' in recordPerms %}
				<form method="post" action="{% url 'kmrecord:Delete Record' record.id %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-sm btn-danger">—</button>
				</form>
		{% endif %}
			</div></td>
		</tr>
	{% endfor %}
	</tbody>
	<form method="post" action="{% url 'kmrecord:Add Record' car.licensePlate %}">
	{% csrf_token %}
		<tfoot>
			<tr>
				<td></td>
				<td><input type="number" name="km" class="input-sm" step="1.0" max="9999999.9" min="0.0" style="height:1.5em;width:7em;" required></td>
				<td><input type="date" name="date" class="input-sm" min="1800-01-01" max="9999-12-31" style="height:1.5em;width:8em;" required></td>
				<td><button type="submit" class="btn btn-sm btn-success">+</button></td>
			</tr>
		</tfoot>
	</form>

</table>
{% endblock %}