{% extends "base.html" %}

{% load guardian_tags %}

{% block content %}

<table class="table">
	<thead>
		<tr>
			<th scope="col">License Plate</th>
			<th scope="col">Car Name</th>
			<th scope="col">Comments</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for car in cars %}
		<tr>
			<td><a href="{% url 'kmrecord:Car' car.licensePlate %}">{{ car.licensePlate }}</a></td>
		{% get_obj_perms request.user for car as 'carPerms' %}
		{% if 'change_car' in carPerms %}
			<form method="post" action="{% url 'kmrecord:Change Car' %}">
			{% csrf_token %}
				<input type="hidden" name="licensePlate" value="{{ car.licensePlate }}">
				<td><input type="text" name="name" maxlength="63" value="{{ car.name }}" required></td>
				<td><input type="text" name="comments" maxlength="255" value="{{ car.comments }}"></td>
				<td><div class="btn-group" role="group"><button type="submit" class="btn btn-primary">✓ Apply</button>
			</form>
		{% else %}
			<td>{{ car.name }}</td>
			<td>{{ car.comments}}</td>
			<td><div class="btn-group" role="group">
		{% endif %}
		{% if 'delete_car' in carPerms %}
				<form method="post" action="{% url 'kmrecord:Delete Car' %}">
					{% csrf_token %}
					<input type="hidden" name="licensePlate" value="{{ car.licensePlate }}">
					<button type="submit" class="btn btn-danger">— Delete</button>
				</form>
		{% endif %}
			</div></td>
		</tr>
	{% endfor %}
	</tbody>
	<form method="post" action="{% url 'kmrecord:Add Car' %}">
	{% csrf_token %}
		<tfoot>
			<tr>
				<td><input type="text" name="licensePlate" maxlength="7" required></td>
				<td><input type="text" name="name" maxlength="63" required></td>
				<td><input type="text" name="comments" maxlength="255"></td>
				<td><button type="submit" class="btn btn-success">+ Add</button></td>
			</tr>
		</tfoot>
	</form>

</table>
{% endblock %}