{% extends "base.html" %}
{% load guardian_tags %}
{% comment %} {% load carkm_tags %} {% endcomment %}
{% comment %} 
context contains:
fuelRecord: Object - Current FuelRecord to change or a previous one for add
comments: str - Comments of the fuelRecord (only if rich, else '')
gasStations: Objects
{% endcomment %}

{% block content %}
	{% if fuelRecord.id  %}
		{% get_obj_perms request.user for fuelRecord.record as 'recordPerms' %}
		{% if 'change_record' in recordPerms %}
			{% url 'kmrecord:Change Record' fuelRecord.id as formUrl %}
		{% endif %}
	{% else %}
		{% url 'kmrecord:Add Record' fuelRecord.car.licensePlate as formUrl %}
	{% comment %} TODO TEST NOT CHANGE {% endcomment %}
	{% endif %}

<script type="text/javascript">
var changeHistory = ["pricePerLitre", "price", "quantity"];


function onFuelStatChange(form, changedName) {
	changeHistory.splice(changeHistory.indexOf(changedName), 1);
	changeHistory.unshift(changedName);
	
	switch (changeHistory[2]) {
		case "pricePerLitre":
			form.pricePerLitre.value = (form.price.value / form.quantity.value).toFixed(3);
			break;
		case "price":
			form.price.value = (form.quantity.value * form.pricePerLitre.value).toFixed(2);
			break;
		case "quantity":
			form.quantity.value = (form.price.value / form.pricePerLitre.value).toFixed(3);
			break;
		default:
			alert("Oops");
	}
}
</script>

<h1 class="text-center">Record: {% if fuelRecord.id %}{{fuelRecord.id}}{% else %}New{% endif %}</h1>

<form class="container-fluid" method="post" action={{formUrl}}>
	{% csrf_token %}
	<div class="form-group form-control-lg">
		<label for="km">Kilometers</label>
		<input class="form-control" type="number" step="0.01" name="km" value="{{fuelRecord.km}}" {% if not formUrl %}readonly{% endif %} required>
	</div>
	<div class="form-group form-control-lg">
		<label for="date">Date</label>
		<input class="form-control" type="date" name="date" value="{{fuelRecord.date|date:'Y-m-d'}}" {% if not formUrl %}readonly{% endif %} required>
	</div>
	<div class="form-group form-control-lg">
		<label for="pricePerLitre">Price per litre</label>
		<input class="form-control" type="number" step="0.001" name="pricePerLitre" value="{{fuelRecord.pricePerLitre}}" placeholder="{{fuelRecord.pricePerLitre}}" oninput="onFuelStatChange(this.form, this.name)" {% if not formUrl %}readonly{% endif %}>
	</div>
	<div class="form-group form-control-lg">
		<label for="price">Total price</label>
		<input class="form-control" type="number" step="0.01" name="price" value="{{fuelRecord.price}}" placeholder="0.00" oninput="onFuelStatChange(this.form, this.name)" {% if not formUrl %}readonly{% endif %}>
	</div>
	<div class="form-group form-control-lg">
		<label for="quantity">Quantity</label>
		<input class="form-control" type="number" step="0.001" name="quantity" value="{{fuelRecord.quantity}}" placeholder="0.000" oninput="onFuelStatChange(this.form, this.name)" {% if not formUrl %}readonly{% endif %}>
	</div>
	<div class="form-group form-control-lg">
		<div><label for="fuelType">Fuel type</label></div>
		<select name="fuelType">	<!-- TODO fix hardcoded -->
			<option value="0" {% if fuelRecord.fuelType == 0 %} selected {% endif %}>Gas</option>
			<option value="1" {% if fuelRecord.fuelType == 1 or not fuelRecord.fuelType %} selected {% endif %}>Unleaded 95</option>
			<option value="2" {% if fuelRecord.fuelType == 2 %} selected {% endif %}>Unleaded 98</option>
			<option value="3" {% if fuelRecord.fuelType == 2 %} selected {% endif %}>Unleaded 100</option>
			<option value="4" {% if fuelRecord.fuelType == 2 %} selected {% endif %}>Diesel</option>
		</select>
	</div>
	<div class="form-group form-control-lg">
		<div><label for="gasStation">Gas station</label></div>
		<input list="gasStations" name="gasStation" value="{{fuelRecord.gasStation.name}}" placeholder="Type to search...">
		<datalist id="gasStations">
		{% for gasStation in gasStations %}
			<option data-value="{{gasStation.id}}" value="{{gasStation.name}}">
		{% endfor %}
		</datalist>
	</div>
	<div class="form-group form-control-lg">
		<label for="comments">Comments</label>
		<textarea class="form-control" name="comments"  {% if not formUrl %}readonly{% endif %}>{{comments}}</textarea>
	</div>
	{% if formUrl %}
	<button type="submit" class="btn-lg btn-primary form-control">Submit</button>
	{% endif %}
</form>

{% endblock %}
